# Python virtual environment
venv/

# Byte-code files
*.pyc
__pycache__/

# Editor/IDE specific files (add if you use any of these)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Distribution / Packaging artifacts
dist/
build/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
